In [94]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set_theme('paper')
import os
os.chdir(r'D:/Gyan Prakash Kushwaha/MLP/')

In [95]:
df = pd.read_csv(r'Data/V5.csv')

In [96]:
df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [97]:
df.sample(8)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
5104,2016-11-05,2016,Waterbury,39670.0,45000.0,?,Fourplex,8,7,2434.0,1.348259,South
9730,2022-07-29,2022,Bridgeport,116580.0,146145.0,Single Family,Detached House,3,2,1041.0,1.003979,West
7058,2019-05-23,2019,Stamford,200730.0,322875.0,Single Family,Detached House,3,3,936.0,1.025899,North
4875,2016-08-06,2016,Bridgeport,218070.0,165000.0,Two Family,Duplex,4,2,NaN,1.348259,North
5645,2017-06-25,2017,Stamford,294480.0,520000.0,Single Family,Detached House,3,1,1058.0,1.388283,East
7379,2019-09-22,2019,Stamford,259190.0,515000.0,?,Detached House,3,3,918.0,1.025899,East
1500,2011-07-06,2011,West Hartford,294600.0,335000.0,?,Detached House,3,1,962.0,1.025033,West
2490,2012-11-30,2012,Waterbury,107080.0,66700.0,Single Family,Detached House,3,3,906.0,1.021958,East

In [98]:
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property                0
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

### Q-1) How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"
Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

### `no. of "?` values in each feature

In [99]:
(df == '?').sum()

Date                    0
Year                    0
Locality                0
Estimated Value         0
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area             0
property_tax_rate       0
Face                    0
dtype: int64

In [100]:
for i in df.columns:
    print(f"{i.ljust(25)} {len(df[df[i] == '?'])}")

Date                      0
Year                      0
Locality                  0
Estimated Value           0
Sale Price                0
Property                  1823
Residential               0
num_rooms                 0
num_bathrooms             0
carpet_area               0
property_tax_rate         0
Face                      0

In [101]:
# Now replace the values.
df.replace(to_replace='?',value=np.nan,inplace=True)

In [102]:
df.isna().sum() # sucessfully made "?" NaN value.

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

### Q-2) What is the shape of the dataset ?

In [103]:
df.shape

(10000, 12)

### Q-3) What is the value present at the 692th indexed row and 0th indexed column in the data ?

- dataframe[692,0] (simpy saying this in a matrix)
- rows/ columns starts indexing from zero(0) in python

In [104]:
df.iloc[692,0]

'2009-11-16'

In [105]:
df.iloc[692]

Date                 2009-11-16
Year                       2009
Locality                    NaN
Estimated Value        225050.0
Sale Price             420000.0
Property             Two Family
Residential              Duplex
num_rooms                     4
num_bathrooms                 4
carpet_area              1429.0
property_tax_rate      1.025953
Face                      North
Name: 692, dtype: object

### Q-4) What is the value present at the 546th indexed row and 7th indexed column in the data ?
 - dataframe[546,7] (simpy saying this in a matrix)
 - rows/ columns starts indexing from zero(0) in python

In [106]:
df.iloc[692,7]

4

In [107]:
df.iloc[692]

Date                 2009-11-16
Year                       2009
Locality                    NaN
Estimated Value        225050.0
Sale Price             420000.0
Property             Two Family
Residential              Duplex
num_rooms                     4
num_bathrooms                 4
carpet_area              1429.0
property_tax_rate      1.025953
Face                      North
Name: 692, dtype: object

### Q-5) What are the unique values present in the Locality feature of the dataset?

In [108]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

### Q-6) Which of the following features have missing(NaN) values present in the dataset?

In [109]:
df.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

### Q-8) Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
- (Note: compute after removing "?") 
- I have to compute missing values in the rows not columns

In [110]:
missing_count = df.isna().sum(axis=1)

In [111]:
df[missing_count > 2]

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
194,2009-03-27,2009,NaN,NaN,3900000.0,Single Family,Detached House,3,3,NaN,1.025953,South
295,2009-05-15,2009,NaN,NaN,6632000.0,NaN,Detached House,3,1,1086.0,1.025953,West
425,2009-06-29,2009,NaN,NaN,1049000.0,Single Family,Detached House,3,3,NaN,1.025953,South
470,2009-07-17,2009,NaN,NaN,260403.0,NaN,Detached House,3,2,977.0,1.025953,North
682,2009-11-08,2009,NaN,NaN,1150000.0,Single Family,Detached House,3,1,NaN,1.025953,South
...,...,...,...,...,...,...,...,...,...,...,...,...
9116,2021-11-26,2021,NaN,NaN,300000.0,NaN,Triplex,6,5,1842.0,1.023495,East
9337,2022-02-24,2022,Waterbury,NaN,58000.0,NaN,Detached House,3,2,NaN,1.003979,East
9375,2022-03-05,2022,NaN,NaN,365000.0,NaN,Duplex,4,4,1406.0,1.003979,North
9456,2022-04-21,2022,NaN,NaN,297000.0,Single Family,Detached House,3,2,NaN,1.003979,East
9475,2022-04-29,2022,NaN,NaN,110843.0,NaN,Detached House,3,3,1053.0,1.003979,West

In [112]:
df.dropna(inplace=True)

### Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?
- (Note: compute after removing "?")

In [113]:
df.shape

(5449, 12)