In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set_theme('paper')
import os
os.chdir(r'D:/Gyan Prakash Kushwaha/MLP/')

#### MetaData
- Airline:The name of the airline 
- Source: The source from which the service begins 
- Destination: The destination where the service ends 
- Route: Route the flight took. 
- Dep_Time: The time when the journey starts from the source. 
- Arrival_Time: Time of arrival at the destination. 
- Duration: Total duration of the flight. 
- Total_Stops: Total stops between the source and destination. 
- Additional_Info: Additional information about the flight 
- Price: The price of the ticket ▶▶▶ Target 
- Month: Month of journey. 
- WeekDay: Day at which journey started. 
- Day: Date of the start of journey.

In [3]:
df = pd.read_csv(r'Data/Preprocessing1.csv')

In [15]:
df.isnull().sum()

Airline              0
Source               0
Destination          0
Route                1
Dep_Time             0
Arrival_Time         0
Duration             0
Total_Stops        200
Additional_Info      0
Price                0
Month                0
WeekDay              0
Day                236
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          9450 non-null   object
 1   Source           9450 non-null   object
 2   Destination      9450 non-null   object
 3   Route            9449 non-null   object
 4   Dep_Time         9450 non-null   object
 5   Arrival_Time     9450 non-null   object
 6   Duration         9450 non-null   object
 7   Total_Stops      9250 non-null   object
 8   Additional_Info  9450 non-null   object
 9   Price            9450 non-null   int64
 10  Month            9450 non-null   int64
 11  WeekDay          9450 non-null   object
 12  Day              9214 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 959.9+ KB

In [14]:
df.sample(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
7367,Air India,Delhi,Cochin,DEL → BLR → COK,14:25,23:00,5h 10m,1 stop,No info,5022,6,Thursday,6.0
2742,Jet Airways,Banglore,Banglore,BLR → BDQ → DEL,14:05,12:20,28h 10m,1 stop,No info,10037,5,Thursday,9.0
852,Air India,Delhi,Hyderabad,DEL → BOM → COK,09:40,19:15,29h 35m,1 stop,No info,8372,3,Wednesday,6.0
5779,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,08:25,09:20 22 May,24h 55m,NaN,No info,14388,5,Tuesday,21.0
2947,Air India,Delhi,Cochin,DEL → JAI → BOM → COK,07:00,19:15 02 Jun,5h 55m,2 stops,No info,12940,5,Monday,27.0

#### Q-1) What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [38]:
df['Price'].mean()

9027.895555555555

In [39]:
df.describe()

              Price        Month          Day
count   9450.000000  9450.000000  9214.000000
mean    9027.895556     4.718730    13.517582
std     4466.677471     1.162725     8.459792
min     1759.000000     3.000000     1.000000
25%     5198.000000     3.000000     6.000000
50%     8366.000000     5.000000    12.000000
75%    12373.000000     6.000000    21.000000
max    57209.000000     6.000000    27.000000

#### Q-2) During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth

In [21]:
df['Month'].value_counts().sort_values(ascending=False)

5    3092
6    3044
3    2388
4     926
Name: Month, dtype: int64

In [24]:
df['WeekDay'].unique()

array(['Thursday', 'Sunday', 'Friday', 'Monday', 'Saturday', 'Wednesday',
       'Tuesday'], dtype=object)

In [26]:
obj = df.groupby('WeekDay')

In [44]:
# Weekdays
weekdays = obj['Price'].mean()[['Thursday', 'Friday', 'Monday', 'Wednesday','Tuesday']]
weekdays

WeekDay
Thursday     9013.744025
Friday       8961.014388
Monday       8834.710081
Wednesday    9091.326994
Tuesday      9275.404342
Name: Price, dtype: float64

In [45]:
sum(weekdays)

45176.19983116492

In [47]:
# Weekends
weekends = obj['Price'].mean()[['Sunday', 'Saturday']]

In [48]:
sum(weekends)

18158.111770044263

#### Q-4) Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

In [56]:
df.sample(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
8954,Vistara,Chennai,Delhi,MAA → CCU,10:30,09:20,2h 50m,non-stop,No info,3739,6,Saturday,1.0
2731,Air India,Delhi,Cochin,DEL → TRV → COK,05:15,06:50 28 Mar,25h 35m,1 stop,No info,7165,3,Wednesday,27.0
2374,IndiGo,Banglore,Delhi,BLR → DEL,20:00,22:50,2h 50m,non-stop,No info,4823,6,Sunday,9.0
7614,IndiGo,Kolkata,New Delhi,CCU → BLR,16:55,18:05,7h 50m,non-stop,No info,4804,3,Friday,15.0
5177,Air Asia,Kolkata,Banglore,CCU → BLR,10:20,12:55,2h 35m,non-stop,No info,4409,5,Friday,3.0

In [57]:
df['Additional_Info'].value_counts()

No info                         7375
In-flight meal not included     1750
No check-in baggage included     298
1 Long layover                    13
Change airports                    5
No Info                            3
2 Long layover                     3
1 Short layover                    2
Business class                     1
Name: Additional_Info, dtype: int64

In [ ]:
df['Additional_Info'].replace('No Info','No info',inplace=True) # Sucessfully replaced the values.

In [61]:
df['Additional_Info'].value_counts()

No info                         7378
In-flight meal not included     1750
No check-in baggage included     298
1 Long layover                    13
Change airports                    5
2 Long layover                     3
1 Short layover                    2
Business class                     1
Name: Additional_Info, dtype: int64

In [63]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day'],
      dtype='object')

In [64]:
df[(df['Airline'] == 'IndiGo') & (df['Additional_Info'] == 'No info')]

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
8,IndiGo,Mumbai,Hyderabad,BOM → HYD,19:05,20:35,1h 30m,non-stop,No info,2754,5,Monday,6.0
10,IndiGo,Delhi,Cochin,DEL → BOM → COK,09:00,01:30 10 May,10h,1 stop,No info,8854,6,Thursday,27.0
12,IndiGo,Delhi,Cochin,DEL → BOM → COK,17:30,01:30 16 May,8h,1 stop,No info,6979,5,Wednesday,15.0
18,IndiGo,Chennai,Banglore,MAA → CCU,16:40,14:00,7h 35m,non-stop,No info,3858,5,Monday,6.0
35,IndiGo,Banglore,Delhi,BLR → DEL,22:10,01:00 22 May,2h 50m,non-stop,No info,3625,5,Tuesday,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425,IndiGo,Mumbai,Cochin,BOM → HYD,16:10,10:40,6h 10m,non-stop,No info,4575,3,Sunday,3.0
9427,IndiGo,Chennai,Kolkata,MAA → CCU,22:05,00:25 10 May,2h 20m,non-stop,No info,5277,5,Thursday,9.0
9429,IndiGo,Kolkata,Banglore,CCU → BLR,09:35,12:20,2h 45m,non-stop,No info,4462,3,Monday,18.0
9438,IndiGo,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,non-stop,No info,3943,5,Friday,3.0
9446,IndiGo,Delhi,Cochin,DEL → BOM → COK,17:00,21:00,8h 35m,1 stop,No info,6838,3,Sunday,3.0

#### Q-5) Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

- I have to change the data type in order to solve this problem.

In [ ]:
df['Duration'] = df['Duration'].astype('datetime64[s]') # I'm Getting error Because I'm having the hours > 23.

ParserError: hour must be in 0..23: 26h 35m present at position 0

In [124]:
df['Duration'].sample(10)

9389      7h 5m
1280     4h 35m
3839     2h 50m
3771         3h
8421    21h 45m
791     14h 25m
3909    19h 30m
1407     1h 30m
8136     6h 10m
4739         3h
Name: Duration, dtype: object

In [131]:
# Stack Overflow
a = 'AJYF'
b = a.replace('AJ', '')
print(b)     # produces 'YF'
a = 'GTYF'
b = a.replace('GTY', '')
print(b)     # produces 'F'

YF
F

In [132]:
var = df['Duration'][1364]
print(var.split()[0][-1]) # I'm able to remove the h
print(var.split()[1][-1]) # able to remove 'm'
var.split()[0].replace('h','')

h
m

'16'

In [138]:
df['Duration'][1364]

'16h 15m'

In [137]:
df['Duration'][4739]

'3h'

In [127]:
var = df['Duration'][4739]
print(var.split()[0][-1]) # I'm able to remove the h
# print(var.split()[1][-1])
# in this case I have only 1 element in the list of my var variable and that is Hour.

h

##### I have to create a function for making the duration in seconds

In [135]:
def make_seconds(sample):
    total_seconds = 0
    var = sample.split()
    n = len(var)
    if var[0][-1] == 'h':
        hours = int(var[0].replace('h',''))
        total_seconds += (hours*60*60)

    if n == 2:
        if var[1][-1] == 'm':
            minutes = int(var[1].replace('m',''))
            total_seconds += minutes*60
    
    return total_seconds

In [140]:
print(make_seconds(df['Duration'][4739]))
print(make_seconds(df['Duration'][1364])) # working great.

10800
58500

In [142]:
# Now just check for null values.
df.isnull().sum() # Great🤩 I don't have null values also.

Airline              0
Source               0
Destination          0
Route                1
Dep_Time             0
Arrival_Time         0
Duration             0
Total_Stops        200
Additional_Info      0
Price                0
Month                0
WeekDay              0
Day                236
dtype: int64

In [145]:
df['Duration'] = df['Duration'].apply(func=make_seconds) # converted the duration to seconds

In [148]:
df['Duration'].mean()

38957.90476190476

#### Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10. 
##### Then convert the time into four categories as follows:
- 5 <= hour < 12 = Morning 
- 12 <= hour < 17 = Afternoon 
- 17 <= hour < 20 = Evening 
- 20 <= hour < 5 = Night

In [187]:
df[['Dep_Time','Arrival_Time']].sample(6)

     Dep_Time  Arrival_Time
6952    09:30         12:20
5448    07:10         12:20
3500    05:05  04:25 16 Jun
1243    07:00         22:55
5309    06:30         19:50
2116    14:10         17:10